<app-header
  color="dark"
  [centerTitle]="false"
  [isModal]="false"
  title="Your Transactions"
></app-header>

<ion-content [fullscreen]="true">

  <ion-item class="ionitem-filter">
    <ion-select
    label="Filter transactions by wallet"
    label-placement="floating"
    [(ngModel)]="selectedWalletIdToFilterTransactions"
    (ionChange)="filterTransactionsByWalletId($event)"
  >
    @for (wallet of userWallets; track $index) {
    <ion-select-option [value]="wallet.id">
      {{ wallet.name }}
    </ion-select-option>
    }
    <ion-select-option [value]="null">
      Any
    </ion-select-option>
  </ion-select>
  </ion-item>

  <ion-button id="open-modal-transaction" expand="block" color="success">
    <ion-icon slot="end" name="cash-outline"></ion-icon>
    Create a transaction
  </ion-button>


  @if (!transactions.length) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>No Transactions Found</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      You can start making transactions with the create button
    </ion-card-content>
  </ion-card>
  } @else {
  <ion-list>
    @for (transaction of transactions; track $index) {
    <ion-item>
      <ion-label>
        <h2>{{ truncateDescription(transaction.description, 30) }}</h2>
        <p> {{ getWalletNameById(transaction.walletId) }} </p>
        <p>{{ currencyFormatter(transaction.amount) }}</p>
        @if (transaction.repeat != 'NEVER') {
          <p>{{ transaction.repeat }}</p>
        }
        <p></p>
      </ion-label>
      <ion-button
        (click)="editTransaction(transaction)"
        expand="block"
        color="success"
      >
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="confirmDeleteTransaction(transaction)"
        expand="block"
        color="danger"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>
  }

  <!-- MODAL CREATE OR EDIT A TRANSACTION -->
  <ion-modal trigger="open-modal-transaction">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          @if (transactionSelected) {
          <ion-title>Update a transaction</ion-title>
          } @else {
          <ion-title>Create a transaction</ion-title>
          }
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        @if (!userWallets.length) {
        <ion-card>
          <ion-card-header>
            <ion-card-title>No Wallets Found</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            You need a wallet to make transactions
          </ion-card-content>
        </ion-card>
        } @else {
        <ion-list>
          <form
            #transactionForm="ngForm"
            (ngSubmit)="onSubmit(transactionForm)"
          >
            <ion-item>
              <ion-title>Transaction</ion-title>
            </ion-item>
            <!-- Wallet Select -->
            <ion-item>
              <ion-select
                label="Select a wallet"
                label-placement="floating"
                [(ngModel)]="transactionSelected.walletId"
                name="idWalletSelected"
                required
                #walletSelect="ngModel"
              >
                @for (wallet of userWallets; track $index) {
                <ion-select-option [value]="wallet.id">
                  {{ wallet.name }}
                </ion-select-option>
                }
              </ion-select>
              @if (walletSelect.invalid && walletSelect.touched) {
              <ion-text color="danger">Please select a wallet.</ion-text>
              }
            </ion-item>

            <!-- Date Input -->
            <ion-item>
              <ion-label position="stacked">Date</ion-label>
              <ion-input
                name="transactionDate"
                type="date"
                placeholder="Transaction date"
                [(ngModel)]="transactionSelected.date"
                required
                #dateInput="ngModel"
              ></ion-input>
              @if (dateInput.invalid && dateInput.touched) {
              <ion-text color="danger">Please enter a date.</ion-text>
              }
            </ion-item>

            <!-- Amount Input -->
            <ion-item>
              <ion-label position="stacked">Amount</ion-label>
              <ion-input
                name="transactionAmount"
                type="number"
                placeholder="Transaction amount"
                [(ngModel)]="transactionSelected.amount"
                required
                #amountInput="ngModel"
              ></ion-input>
              @if (amountInput.invalid && amountInput.touched) {
              <ion-text color="danger">Please enter an amount.</ion-text>
              }
            </ion-item>

            <!-- Description Input -->
            <ion-item>
              <ion-label position="stacked">Description</ion-label>
              <ion-input
                name="transactionDescription"
                type="text"
                placeholder="Transaction description"
                [(ngModel)]="transactionSelected.description"
                required
                #descriptionInput="ngModel"
              ></ion-input>
              @if (descriptionInput.invalid && descriptionInput.touched) {
              <ion-text color="danger">Please enter a description.</ion-text>
              }
            </ion-item>

            <!-- Transaction Type Select -->
            <ion-item>
              <ion-select
                label="Transaction type"
                label-placement="floating"
                [(ngModel)]="transactionSelected.type"
                name="transactionType"
                required
                #typeSelect="ngModel"
              >
                <ion-select-option value="INCOME">Income</ion-select-option>
                <ion-select-option value="OUTFLOW">Outflow</ion-select-option>
              </ion-select>
              @if (typeSelect.invalid && typeSelect.touched) {
              <ion-text color="danger">Select a transaction type.</ion-text>
              }
            </ion-item>

            <!-- Category Select -->
            <ion-item>
              <ion-select
                label="Select a category"
                label-placement="floating"
                [(ngModel)]="transactionSelected.categoryId"
                name="transactionCategory"
                required
                #categorySelect="ngModel"
              >
                @for (category of categories; track $index) {
                <ion-select-option [value]="category.id">
                  {{ category.name }}
                </ion-select-option>
                }
              </ion-select>
              @if (categorySelect.invalid && categorySelect.touched) {
              <ion-text color="danger">Select a category.</ion-text>
              }
            </ion-item>

            <!-- Repeat Options Select -->
            <ion-item>
              <ion-select
                label="Repeat options"
                label-placement="floating"
                [(ngModel)]="transactionSelected.repeat"
                name="repeat"
                required
                #repeatSelect="ngModel"
              >
                @for (option of repeatOptions; track $index) {
                <ion-select-option [value]="option">
                  {{ option }}
                </ion-select-option>
                }
              </ion-select>
              @if (repeatSelect.invalid && repeatSelect.touched) {
              <ion-text color="danger">Select a repeat option.</ion-text>
              }
            </ion-item>

            <!-- Submit Button -->
            <ion-button
              expand="block"
              type="submit"
              [disabled]="transactionForm.invalid"
            >
              @if (transactionSelected.id) { Update } @else { Create }
            </ion-button>
          </form>
        </ion-list>
        }
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
