ion-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

ion-list {
  padding-top: 20px;
} 

ion-item {
  margin-bottom: 16px;
}

ion-button {
  margin: 15px;
}