<app-header
  color="dark"
  [centerTitle]="false"
  [isModal]="false"
  title="Sign In"
></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="sign-in-container">
    <ion-card class="sign-in-card">
      <ion-card-header>
        <ion-card-title>Welcome Back!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="email"
              name="email"
              required
              email
              #emailCtrl="ngModel"
            ></ion-input>
          </ion-item>
          @if (emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)) {
            @if (emailCtrl.errors?.['required']) {
              <ion-text color="danger">Email is required.</ion-text>
            }
            @if (emailCtrl.errors?.['email']) {
              <ion-text color="danger">Invalid email format.</ion-text>
            }
          }

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="password"
              name="password"
              required
              #passwordCtrl="ngModel"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="signInForm.invalid"
            >Sign In</ion-button
          >
        </form>

        <div class="links">
          <a routerLink="/forgot-password">Forgot Password?</a>
          <a routerLink="/signup">Don't have an account? Sign Up</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>