ion-list {
  padding-top: 20px;
}

ion-item {
  margin-top: 10px;
  margin-bottom: 10px;
  --background: transparent;
}

ion-card {
  background-color: #312d2d;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 100%;
}

ion-card-header {
  background-color: #f8f1e5;
}

ion-card-title {
  color: #0056b3;
}

ion-card-subtitle {
  color: #333333;
}

ion-button {
  padding: 10px 25px;
}

ion-card:hover {
  transform: translateY(-5px);
}

.total {
  color: #007bff;
}

.percentageText {
  margin-top: 10px;
  font-size: 1.0em;
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 10px;
  background-color: #3b82f6;
  border-radius: 5px;
}

.progress-text {
  text-align: center;
  font-size: 0.9em;
}